.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__title {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}